{% extends 'base2.html'%}
{% block title %} HR Dashboard{% endblock%}
{% block body %}
<style>
  .inputBox{
  position:relative;
  width:100%;

  }
  .w-95{
    width:95%;
    font-style: italic;
  }
  .right-icon{
    position: absolute;
    top: 0;
    right: 0;

  }
  .bg-body{
  background: #f3f3f3 !important;

    color: #15463966 !important;
    font-weight: 300;
    padding: 8px 10px;
    border-radius: 5px;
  }


    </style>
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {% include "sidebar.html" %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            {% include 'nav.html'%}
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid" id="MainDashboard">

                <!-- Page Heading -->

                <div class="row">
                    <div id="user-info">
                        ----
                    </div>


                </div>
                <!-- Content Row -->



                <!-- Content Row -->


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        {% include 'footer.html'%}
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->


{% endblock%}


{% block js %}

{% endblock%}