{% extends 'base2.html'%}

{% block body %}
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background: url('/static/img/bg.jpg') no-repeat center fixed;
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .custom{
        padding:40px 60px !important;
        border-radius: 50px 2px !important;
    }
    .register-btn{
        font-size:10px
    }
</style>

<div class="container login-container">
<div class="col-md-4 bg-light p-4 m-auto custom">
    <h3 class="m-4 text-center">REGISTRATION</h3>

    <form id="register-form">
        <input id="first_name" class="form-control mb-1" placeholder="First Name" required>
    <small class="text-danger" id="err_first_name"></small>

    <input id="last_name" class="form-control mb-1" placeholder="Last Name" required>
    <small class="text-danger" id="err_last_name"></small>

    <input id="username" class="form-control mb-1" placeholder="Username" required>
    <small class="text-danger" id="err_username"></small>

    <input id="email" type="email" class="form-control mb-1" placeholder="Email" required>
    <small class="text-danger" id="err_email"></small>

    <input id="password" type="password" class="form-control mb-1" placeholder="Password" required>
    <small class="text-danger" id="err_password"></small>

        <div class="form-group">
            <button type="submit" class="btn btn-success mt-2 w-100">Register</button>
        </div>


    </form>

    <p class="my-4 register-btn">Already have an account? <a href="/login">Login</a></p>
</div>
</div>

<script>
    function clearErrors() {
    document.querySelectorAll("small.text-danger").forEach(e => e.innerHTML = "");
}

document.getElementById('register-form').addEventListener('submit', async (e) => {
    e.preventDefault();
     clearErrors();  // Remove previous errors

    const payload = {
        first_name: document.getElementById('first_name').value,
        last_name: document.getElementById('last_name').value,
        username: document.getElementById('username').value,
        email: document.getElementById('email').value,
        password: document.getElementById('password').value,
    };

    const response = await fetch("http://127.0.0.1:8000/api/auth/register/", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(payload)
    });

    if (response.ok) {
        alert("Register successful!");
    } else {

        const err = await response.json();
         // field wise error show
        if (err.first_name) document.getElementById("err_first_name").innerHTML = err.first_name;
        if (err.last_name) document.getElementById("err_last_name").innerHTML = err.last_name;
        if (err.username) document.getElementById("err_username").innerHTML = err.username;
        if (err.email) document.getElementById("err_email").innerHTML = err.email;
        if (err.password) document.getElementById("err_password").innerHTML = err.password;
        alert("Registration failed!");
    }
});
</script>

{% endblock %}
